{% extends 'base.html' %}


{% block title %} IP Finder {% endblock %}


{% block body %}


        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div style="background-color:#001a33;" class="container">
                <a style="color:white;" class="navbar-brand" href="/">IP FINDER V2.0 BY @KOMOYEK</a>
                <!--<a class="btn btn-primary" href="">KOMOYEK</a>-->
            </div>
        </nav>

<div style="font-family: 'Consolas', sans-serif;" class="container">
</br>
</br></br>
</br>
            <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">

                            <!-- Page heading-->
                            <h1 class="mb-5" style="color: black" >Bienvenue sur notre outil de securité!</h1>

                                    <!--<div  class="col-auto"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">
                                        <a style="color: white; text-decoration:none;"  href="{{url_for('Search')}}">Continuer!</a>
                                    </button>
                                    </div>

                                </div>-->
                            <div style="color: black; text-align:center;" class="row">
                              <div  class="col-sm-6">
                                <div class="card">
                                  <div class="card-body">
                                    <h5 style="color:#0083c9;" class="card-title">IP LOCATOR <i class="fa fa-globe" aria-hidden="true"></i></h5>
                                    <p class="card-text">Dans cette section vous pouvez géolocaliser une adreese IP suspecte après intrusion .</p>
                                    <a href="{{url_for('Search')}}" class="btn btn-primary">IP LOCATOR</a>
                                  </div>
                                </div>
                              </div>
                              <div  class="col-sm-6">
                                <div  class="card">
                                  <div class="card-body">
                                    <h5 style="color:#0083c9" class="card-title">PASSWORD GEN <i class="fa fa-key" aria-hidden="true"></i></h5>
                                    <p class="card-text">dans cette partie vous pouvez générer un mot de passe solide et compliqué.</p>
                                    <a href="{{url_for('Pgen')}}" class="btn btn-primary">Generate pass</a>
                                  </div>
                                </div>
                              </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </header>



</div>


{% endblock %}
