{% extends 'base.html' %}


{% block title %} IP Finder {% endblock %}


{% block body %}


        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div style="background-color:#001a33;" class="container">
                <a style="color:white;" class="navbar-brand" href="/">IP FINDER V2.0 BY @KOMOYEK</a>
                <!--<a class="btn btn-primary" href="">KOMOYEK</a>-->
            </div>
        </nav>

<div style="font-family: 'Consolas', sans-serif;" class="container">
</br>
</br></br>
</br>
            <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5" style="color: black" >Bienvenue sur  #IpFinder l'application de géolocalisation!</h1>

                                    <div  class="col-auto"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">
                                        <a style="color: white; text-decoration:none;"  href="{{url_for('Search')}}">Continuer!</a>
                                    </button>
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
        </header>





</div>


{% endblock %}
