{% extends 'base.html' %}


{% block title %} IP Finder {% endblock %}


{% block body %}



<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Komoye Security Tools(K.S.T)</h3>
            <strong style="color">Komoye Security Tools(K.S.T)</strong>
        </div>

        <ul class="list-unstyled components">
         <li>
         <a href=""><i class="fa fa-user fa-2x"></i> 
                <big>W.S.T</big>
                
            </a>
         <li>

                <a href="{{url_for('Search')}}" >
                    <i class="fa fa-globe"></i>
                    IP LOCATOR
                </a>
            </li>

            <li>
                <a href="{{url_for('Pgen')}}">
                    <i class="fa fa-key"></i>
                    PASSWORD GEN
                </a>
            </li>
            <li>
                <a href="{{url_for('search')}}">
                    <i class="fa fa-search"></i>
                    PORTSCANNER
                </a>

            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">
        
 <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="fa fa-bars"></i>
                                <span>Menu de Navigation</span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                              
                                <li><a href="{{url_for('Search')}}">IP LOCATOR </a></li>
                                <li><a href="{{url_for('Pgen')}}">PASSWORD GEN</a></li>

                                <li><a href="{{url_for('search')}}">PORTSCANNER</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>                 



    <div class="col-sm-12">
    <h2 style="text-align: center;">Bienvenue à notre outil de securité (K.S.T)</h2>
       
        <div class="col-lg-4 col-xs-12 ">
            <div class="small-box well">
                <div class="inner">
                <h3>99</h3>

                <h4> IP LOCATOR</h4>
                </div>
                <div style="color: #0080ff;" class="icon">
                    <i class="fa fa-globe"></i>
                </div>
                <a href="{{url_for('Search')}}" class="small-box-footer">Ip locator <i style="color: #0080ff;" class="fa fa-globe"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-xs-12">
            <div class="small-box well ">
                <div class="inner">
                <h3>88</h3>

                <h4>PASSWORD GEN</h4>
                </div>
                <div style="color: #001a33;"  class="icon">
                    <i class="fa fa-key"></i>
                </div>
                <a href="{{url_for('Pgen')}}" class="small-box-footer">Password generator <i style="color: #0080ff;" class="fa fa-key"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-xs-12 ">
            <div class="small-box well">
                <div class="inner">
                <h3>55</h3>

                <h4> PORTSCANNER</h4>
                </div>
                <div style="color: #00ccff;" class="icon">
                    <i class="fa fa-search"></i>
                </div>
                <a href="{{url_for('search')}}" class="small-box-footer">Scan Ip/website <i style="color: #0080ff;" class="fa fa-search"></i></a>
            </div>
        </div>

    </div>
<!--2e-->
</div>
</div>
<footer id="footer" class="midnight-blue">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          &copy; 2022. All Rights Reserved.
          <div class="credits">
           
            <a href=""></a> by <a href="#">komoye</a>
          </div>
        </div>
        <div class="col-sm-6">
          <ul class="pull-right">
            <li><a href="#"><i class="fab fa-html5 fa-3x"></i></a></li>
            <li><a href="#"><i class="fab fa-js fa-3x"></i></a></li>
            <li><a href="#"><i class="fab fa-php fa-3x "></i></a></li>
            <li><a href="#"><i class="fab fa-css3 fa-3x"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


{% endblock %}
{% block footer %}


        <!-- jQuery  -->
<script src="static/jquery/jquery.min.js"></script>
         <!-- Bootstrap Js  -->
<script src="static/js/bootstrap.min.js"></script>
         <!-- fontawesome Js  -->
<script defer src="static/font-awesome/svg-with-js/js/fontawesome-all.js"></script>
          <!-- Our datatable js -->
 <script type="text/javascript" src="static/DataTables/datatables.min.js"></script>
          <!-- Our Custom js -->
 <script src="static/js/main.js"></script>

{% endblock %}
