{% extends 'base.html' %}


{% block title %} IP Finder {% endblock %}


{% block body %}



<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Komoye Security Tools(K.S.T)</h3>
            <strong style="color">Komoye Security Tools(K.S.T)</strong>
        </div>

        <ul class="list-unstyled components">
         <li>
         <a href=""><i class="fa fa-user fa-2x"></i>
                <big>W.S.T</big>

            </a>
         <li>

                <a href="{{url_for('Search')}}" >
                    <i class="fa fa-globe"></i>
                    IP LOCATOR
                </a>
            </li>

            <li>
                <a href="{{url_for('Pgen')}}">
                    <i class="fa fa-key"></i>
                    PASSWORD GEN
                </a>
            </li>
            <li>
                <a href="{{url_for('search')}}">
                    <i class="fa fa-search"></i>
                    PORTSCANNER
                </a>

            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

 <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="fa fa-bars"></i>
                                <span>Menu de Navigation</span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">

                                <li><a href="{{url_for('Search')}}">IP LOCATOR </a></li>
                                <li><a href="{{url_for('Pgen')}}">PASSWORD GEN</a></li>

                                <li><a href="{{url_for('search')}}">PORTSCANNER</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>



    <div class="col-sm-12">
    <h2  style="text-align: center; font-familly: 'Consolas', sans-serif; font-size:18px; border-left:6px solid blue; background-color:skyblue;"><a style="color:black;"  href="/"><i class="fa fa-home"></i> Home / </a> résultat du scan!</h2>

        </br>
            <!-- Masthead-->
      <header class="masthead">

                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->



                            <div class="container">

                                <h1 class="mb-5" style="text-align: center ; color:black; font-family: 'Consolas', sans-serif; border-left: 6px solid blue;
  background-color: skyblue;" >La requête pour : {{address}}</h1>


                                <button  class="btn btn-info" ><i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                                    <a style="color: white; text-decoration:none;"  href="{{url_for('search')}}">retournez à la page de recherche</a></button>
                                <button style="background-color:#001a33;" class="btn btn-primary" onclick="window.print()"> <i class="fa fa-print" aria-hidden="true"></i> Imprimez cette table</button>
                                <br>



    <table class="table table table-hover table-bordered">

    </tr>
  <thead  class="thead-dark">
  <br>
                                  <br>

    <tr>
      <th scope="col">#Index</th>
      <th scope="col">Ports ouverts</th>

    </tr>
  </thead>
  <tbody>
 {% for x in data %}
    {% if x==0 %}

     <tr class="text-left">
      <th scope="row">#</th>
      <td >Le port {{address}} est introuvable!  </td>
    </tr>

    {% else %}

    <tr class="text-left">
      <th scope="row">#</th>
      <td >Le port {{x}} est ouvert  <i style="color:#f7f705;" class="fa fa-exclamation-circle" aria-hidden="true"></i></td>
    </tr>

    {% endif %}
{% endfor %}
    <tr class="text-left">
      <th scope="row">temps écoulé</th>
      <td style="color:blue;">{{temps}} <i class="fa fa-clock-o" aria-hidden="true"></i></td>
    </tr>



  </tbody>
</table>



</div>





                                </div>

                            </form>
                        </div>
                    </div>

        </header>

    </div>
<!--2e-->
</div>
</div>
<footer id="footer" class="midnight-blue">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          &copy; 2022. All Rights Reserved.
          <div class="credits">

            <a href=""></a> by <a href="#">komoye</a>
          </div>
        </div>
        <div class="col-sm-6">
          <ul class="pull-right">
            <li><a href="#"><i class="fab fa-html5 fa-3x"></i></a></li>
            <li><a href="#"><i class="fab fa-js fa-3x"></i></a></li>
            <li><a href="#"><i class="fab fa-php fa-3x "></i></a></li>
            <li><a href="#"><i class="fab fa-css3 fa-3x"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


{% endblock %}
{% block footer %}


        <!-- jQuery  -->
<script src="static/jquery/jquery.min.js"></script>
         <!-- Bootstrap Js  -->
<script src="static/js/bootstrap.min.js"></script>
         <!-- fontawesome Js  -->
<script defer src="static/font-awesome/svg-with-js/js/fontawesome-all.js"></script>
          <!-- Our datatable js -->
 <script type="text/javascript" src="static/DataTables/datatables.min.js"></script>
          <!-- Our Custom js -->
 <script src="static/js/main.js"></script>

{% endblock %}
