{% extends 'base.html' %}


{% block title %} IP Finder {% endblock %}


{% block body %}



<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Komoye Security Tools(K.S.T)</h3>
            <strong style="color">Komoye Security Tools(K.S.T)</strong>
        </div>

        <ul class="list-unstyled components">
         <li>
         <a href=""><i class="fa fa-user fa-2x"></i>
                <big>W.S.T</big>

            </a>
         <li>

                <a href="{{url_for('Search')}}" >
                    <i class="fa fa-globe"></i>
                    IP LOCATOR
                </a>
            </li>

            <li>
                <a href="{{url_for('Pgen')}}">
                    <i class="fa fa-key"></i>
                    PASSWORD GEN
                </a>
            </li>
            <li>
                <a href="{{url_for('search')}}">
                    <i class="fa fa-search"></i>
                    PORTSCANNER
                </a>

            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

 <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="fa fa-bars"></i>
                                <span>Menu de Navigation</span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">

                                <li><a href="{{url_for('Search')}}">IP LOCATOR </a></li>
                                <li><a href="{{url_for('Pgen')}}">PASSWORD GEN</a></li>

                                <li><a href="{{url_for('search')}}">PORTSCANNER</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>



    <div class="col-sm-12">
    <h4 style="text-align: center; color:blue; font-familly: 'Consolas', sans-serif; font-size:18px; border-left:6px solid blue; background-color:skyblue;">
        <a style="color:black;" href="/"><i class="fa fa-home"></i> Home / </a> Dans cette section vous pouvez utiliser soit un nom de domaine telque: www.xyz.com
                                soit utiliser une adresse IP local et internet: 192.x.x.x
    </h4>

        </br>
            <!-- Masthead-->
        <form class="form-subscribe" id="contactForm" action="{{url_for('portx')}}" method="post">
                  <div class="form-group text-center">
                    <div class="input-group" style="margin:auto;">
                      <input type="search" id="search" name="search" class="form-control rounded" placeholder="www.xxxx.com / 192.168.10.1" aria-label="Search" aria-describedby="search-addon" required="required" />
                        <input type="submit"  class="btn btn-outline-primary"  value="scanner">
                      </div>
                  </div>
        </form>

    </div>
<!--2e-->
</div>
</div>
<footer id="footer" class="midnight-blue">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          &copy; 2022. All Rights Reserved.
          <div class="credits">

            <a href=""></a> by <a href="#">komoye</a>
          </div>
        </div>
        <div class="col-sm-6">
          <ul class="pull-right">
            <li><a href="#"><i class="fab fa-html5 fa-3x"></i></a></li>
            <li><a href="#"><i class="fab fa-js fa-3x"></i></a></li>
            <li><a href="#"><i class="fab fa-php fa-3x "></i></a></li>
            <li><a href="#"><i class="fab fa-css3 fa-3x"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


{% endblock %}
{% block footer %}


        <!-- jQuery  -->
<script src="static/jquery/jquery.min.js"></script>
         <!-- Bootstrap Js  -->
<script src="static/js/bootstrap.min.js"></script>
         <!-- fontawesome Js  -->
<script defer src="static/font-awesome/svg-with-js/js/fontawesome-all.js"></script>
          <!-- Our datatable js -->
 <script type="text/javascript" src="static/DataTables/datatables.min.js"></script>
          <!-- Our Custom js -->
 <script src="static/js/main.js"></script>

{% endblock %}
